[submodule "Aselcis-Consulting/bootandwork"]
	path = Aselcis-Consulting/bootandwork
	url = git@github.com:Aselcis-Consulting/bootandwork.git
	branch = 13.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 13.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 13.0
