[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 16.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 16.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 16.0
