[submodule "Aselcis-Consulting/bootandwork"]
	path = Aselcis-Consulting/bootandwork
	url = git@github.com:Aselcis-Consulting/bootandwork.git
	branch = 13.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 13.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 13.0

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 13.0

[submodule "OCA/account-payment"]
	path = OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 13.0

[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 13.0

[submodule "OCA/l10n-spain"]
	path = OCA/l10n-spain
	url = git@github.com:OCA/l10n-spain.git
	branch = 13.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 13.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 13.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 13.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 13.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 13.0

[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 13.0

[submodule "Aselcis-Consulting/oca_no_merge"]
	path = Aselcis-Consulting/oca_no_merge
	url = git@github.com:Aselcis-Consulting/oca_no_merge.git
	branch = 13.0
